<!DOCTYPE html>
<head>
<title>Dalen Ware</title>

<center><table id="hnmain" op="news" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef"><tr><td bgcolor="#ff6600"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px"><tr><td style="width:18px;padding-right:4px">





<div id="sharing" class="unselectable">

    <div id="share-buttons">

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=http://dalenware.com" target="_blank"><img src="img/f.gif" alt="Facebook" /></a>

    <!-- Twitter -->
    <a href="http://twitter.com/share?via=whitevinyluk&text=Dalen ware...&url=http://dalenware.com" target="_blank"><img src="img/t.gif" alt="Twitter" /></a>

    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=http://dalenware.com" target="_blank"><img src="img/g.gif" alt="Google" /></a>

    </div>


</div>


</html>
