h1 {
  color: blue;
  font-size: 900%;
  text-align: center;
}

h2 {
  color: red;
  text-font: bold;
}

@media (min-width: 768px) and (max-width: 991px) {
  .my-class {
    display: inline;
  }
}

img {
  float: left;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

.column {
  width: 300px;
  float: left;
}

body{
  color: red;
  text-align: center;
  font-size: 200%;
}
